@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chanel's wardrobe assignment</h1>
    <p class="lead">This will be bare bones, use app to organize closet</p>
  </div>  
  

<div class="row">
    <div class="col-md-4">
        <h2>Tops</h2>
        <p>
            Use this link to organize all tops in your closet.
        </p>
        <p><a class="btn btn-default" href="http://localhost:63993/Tops/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bottoms</h2>
        <p>Use this link to organize all bottoms in your closet like jeans, skirts, and shorts</p>
        <p><a class="btn btn-default" href="http://localhost:63993/Bottoms/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accessories</h2>
        <p>Use this link to organize your accessories like hats, bags, and jewelry</p>
        <p><a class="btn btn-default" href="http://localhost:63993/Accessories/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shoes</h2>
        <p>Use this link to organize your shoes like boots, heels, and sneakers.</p>
        <p><a class="btn btn-default" href="http://localhost:63993/Shoes/Index">Learn more &raquo;</a></p>
    </div>
</div>